.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
[Ll]og/

.vscode/
.idea/
*.sln.iml

packages/
*.nupkg
*.snupkg

_ReSharper*/
*.DotSettings.user

.DS_Store
Thumbs.db
desktop.ini

.gradle/
*.apk
*.ap_
*.aab
*.keystore
*.ipa
*.dSYM
